.headerContainer{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
     background: linear-gradient(45deg, #fed8b1, transparent);
     position: fixed;
     top: 0;
     width: 100vw;
}

.auth{
    padding: 10px 20px;
    background-color: lightblue;
    height: fit-content;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 20%;
    max-width: 50%;
    min-width: 50%;
    margin-right: 30%;
    text-decoration: none;
    color: black;
}

.auth:hover{
   background-color: blanchedalmond;
   text-decoration: none;
   color: black;
}
.functions:hover{
    background-color: #fed8b1;
    text-decoration: none;
    color: black;
 }

.functions{
    padding: 15px 20px;
    background-color: darkorange;
    height: fit-content;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 20%;
    max-width: 50%;
    min-width: 50%;
    margin-right: 30%;
    text-decoration: none;
    color: black;
}



.funcContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.authContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

