.radios {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 50%;
	margin: auto;
	text-align: center;
}

.nearbyRadios {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 50%;

}

.search {
	margin-top: 2vw;
	margin-bottom: 2vw;
	padding: 10px 15px;
	background-color: darkorange;
	height: fit-content;
	font-size: 20px;
	font-weight: bolder;
	border: none;
	border-radius: 20%;
	max-width: 50%;
	min-width: 50%;
	text-decoration: none;
	color: black;
}

.search:hover {
	background-color: #fed8b1;
	text-decoration: none;
	color: black;
}

.radio {
	margin: 0 auto;
	font-size: 1rem;
	font-weight: bolder;
}

.container {
	display: block;
	position: relative;
	padding-left: 4px;
	margin-bottom: 1px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.secondContainer {
	display: block;
	position: relative;
	padding-left: 100px;
	margin-bottom: 12px;
	flex: auto;
	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.thirdContainer {
	display: block;
	position: relative;
	padding-left: 30px;
	text-align: left;
	margin-bottom: 12px;
	flex: auto;
	cursor: pointer;
	font-size: 12px;
	width: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fly {
	padding: 20px;
	border: 1px solid lightgrey;
	background: linear-gradient(45deg, lightblue, transparent);
	width: 80vw;
	margin: 12vw auto;
	border-radius: 10%;
}


/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	right: 0.4em;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.departureForm {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 50%;
	margin: 2% auto;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2%;
}

.toggleInt {
	background-color: white;
	display: inline-block;
	padding: 10px;
	border-radius: 10%;
	font-size: 1.5rem;
	padding: 15px;
}

.toggleInt span:hover {
	color: red;
	transition: 1s;
}

.inputs label {
	font-size: 1rem;
}

.inputs input {
	border: none;
	padding: 5%;
	margin-bottom: 20px;
	border-radius: 20%;
}

.travelersForm {
	display: flex;
	justify-content: space-evenly;
}



.travelersForm label {
	margin-right: 1vw;
}


.travelersForm select {
	border-radius: 10%;
	border: none;
	padding: 10px;
	font-size: 1rem;
}

.noOfTravelers {
	line-height: 0;
}


/* ===== New Home Styles ===== */
.logo {
	max-width: 300px;
	width: 100%;
	margin: auto;
}
.chooseOption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.missionStatement {
	color: #fff;
	text-shadow: 0 0 10px #333;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1px;
    letter-spacing: 1px;
    width: 100%;
    margin: auto;
}

/* Form Styles */
.option-buttons .btn {
	font-size: 20px;
}
.options .form-label {
	font-size: 1.1rem;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 0 10px #333;
	letter-spacing: 1px;
}
.options .form-check-label {
	font-size: 0.875rem;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 0 10px #333;
	letter-spacing: 1px;
}
.booking-form {
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 6.5px );
	-webkit-backdrop-filter: blur( 6.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding: 2%;
}
.booking-form--heading {
	font-size: 2.5rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 10px #333;
	margin-bottom: 20px;
}