.loginForm{
    display: flex;
    flex-direction: column;
    margin: 12vw auto;
    width: 40%;
}

.btn{
    background: darkorange;
    width: 10vw;
    margin: 3vw auto;
    border-radius: 20%;
    border: none;
    padding: 15px;
    color: black;
    font-weight: bolder;
}

label{
    font-size: 1.5rem;
    font-weight: bolder;
}

.btn:hover{
    background-color: blanchedalmond;
}